# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment files
.env
.env.local
.env.*.local
dist/
node_modules/
